<br><br><br><br><br><br><br><br>
<div class="container col-sm-3 border"><br>

    <div class="container">
        <form [formGroup]="angFormPass">
            <div class="form-group">
                <label for="" class="form-label">Nouveau mot de passe</label>
                <input type="password" class="form-control" formControlName="password" name="password"
                    placeholder="Entrer un nouveau mot de passe">

            </div><br>
            <!-- <div class="form-group">
                <label for="" class="form-label">confirmation du mot de passe</label>
                <input type="password" class="form-control" formControlName="password1" name="password1"
                    placeholder="confirmation le mot de pass">
            </div><br> -->


            <button type="submit" (click)="updatePassword()" class="btn btn-primary"
                style="font-size: 22px; text-align: center;">
                Renitialiser</button>
            <br><br>


        </form>
    </div>

</div>