<div class="container"><br>

    <p style="text-align: center; color: green; font-size: 50px; font-weight: bold;"> BIENVENUE SUR E-BOUTIQUE </p>
    <br><br><br><br><br>
    <div class="row">
        <div class="col">
            <div class="card card-signin">
                <div class="card-body">
                    <div class="card-title text-center">
                        <a routerLink='/client'>
                            <img src="assets/images/persona.jpg" height="60%" width="100%">
                        </a>
                        <div class="desc" style="color: blue;font-size: 20px; font-weight: bold;"> Les Clients </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row col">
            <div class="card card-signin">
                <div class="card-body">
                    <div class="card-title text-center">
                        <a routerLink='/articles'>
                            <img src="assets/images/gestion articles.jpg" height="60%" width="90%">
                        </a><br><br>
                        <div class="desc" style="color: blue; font-size: 20px; font-weight: bold;">La gestion des
                            articles</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row col">
            <div class="card card-signin">
                <div class="card-body">
                    <div class="card-title text-center">
                        <a routerLink='/commandes'>
                            <img src="assets/images/commandevalider.png" height="60%" width="105%">
                        </a><br><br>
                        <div class="desc" style="color: blue; font-size: 20px; font-weight: bold;">La gestion des
                            commandes </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>